.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
#  忽略本地的eslint
.eslintrc.js
*.rar
/partner/
/partner/*
partner.zip
